<ul class="users">
<h3> <%= pluralize(@user.friends.count, "Friend") %> :</h3>

<% @user.friends.each do |friend| %>
    <li>
        <%= gravatar_for friend, :size => 30 %>

      <%= link_to friend.name, friend %>

            <%= link_to "Delete",
                        { :controller => "friendships", :action => "delete",
                          :id => friend.id },
                        :confirm =>
                                "Really delete friendship with #{friend.name}?" %>
        </li>
<% end %>
</ul>
<ul class="users">
<% unless @user.requested_friends.empty? %>
      <h3> <%= pluralize(@user.requested_friends.count, "Requested friend") %> :</h3>
    <% @user.requested_friends.each do |requester| %>
          <li>
          <%= gravatar_for requester, :size => 30 %>
          <%= link_to requester.name, requester %>

            <%= link_to "Accept",{
                        :controller => "friendships", :action => "accept",
                        :id => requester.id }%> /
            <%= link_to "Decline",
                        { :controller => "friendships", :action => "decline",
                          :id => requester.id },
                        :confirm =>
                                "Really decline friendship with #{requester.name}?" %>
          </li>
    <% end %>
<% end %>
</ul>
<ul class="users">
<% unless @user.pending_friends.empty? %>
      <h3> <%= pluralize(@user.pending_friends.count, "Pending friend") %> :</h3>
    <% @user.pending_friends.each do |pending_friend| %>
          <li>
          <%= gravatar_for pending_friend, :size => 30 %>
          <%= link_to pending_friend.name, pending_friend %>
          <%= link_to "Cancel request",
                          { :controller => "friendships", :action => "cancel",
                            :id => pending_friend.id },
                          :confirm =>
                                  "Cancel friendship request?" %>
          </li>
    <% end %>
<% end %>
</ul>