<h1><%=@title%></h1>
<ul class="users">

  <% for friendship in @user.friendships %>
      <li>
        <%= gravatar_for friendship.friend, :size => 30 %>
        <%= link_to friendship.friend.name, friendship.friend %> signed up <%= friendship.friend.created_at.to_date %>
        (<%= link_to "remove", friendship, :method => :delete %>)
      </li>
  <% end %>
</ul>