<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <div class="round">
        <ul class="users">
        <h1>
          <p align="center"><%= gravatar_for @user, :size => 170 %> <br/>  </p>
          <p align="center"><%= link_to @user.name, @user %></p>
        </h1>
          <%if (friendship = @friendships.find_by_friend_id(@user.id)) || (friendship = @inverse_friendships.find_by_user_id(@user.id))%>
              <%= link_to "Remove Friend", friendship, :method => :delete %>
          <%else%>
              <% if current_user != @user %>
                  <%= link_to "Add Friend", friendships_path(:friend_id => @user, :status => "pending"), :method => :post %>
              <% else %>
                  <strong>It's you :)</strong>
              <% end %>
          <% end %>

        </ul>
      </div>
      <ul class="users">
      <h2><li><%= link_to @friends_title, user_friends_path %></li></h2>
        <% for friendship in @user.friendships %>
            <li>
              <%= link_to friendship.friend.name, friendship.friend %>
            </li>
        <% end %>
      </ul>
      <h2>Users Who Have Befriended You</h2>
      <ul>
        <% for user in @user.inverse_friends %>
            <li><%= h user.name %></li>
        <% end %>
      </ul>
    </td>
    <td class="main">
      <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <h1 class="micropost">What's up?</h1>
            <%= render 'shared/micropost_form' %>
            <strong>Microposts</strong> <%= @user.microposts.count %><br />
            <%= render 'shared/feed' %>
          </td>
        </tr>
      </table>
  </tr>
</table>
