<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
        <ul class="users">
        <h1>
          <p align="center"><%= gravatar_for @user, :size => 170 %> </p> <br/>
          <p align="center"><%= link_to @user.name, @user %></p>
        </h1>
          <li><%= friendship_status(current_user, @user) %>
            <% unless Friendship.exists?(current_user, @user) || @user==current_user %>
                <br />
                <%= link_to "Request friendship with #{@user.name}", friendships_path(:id => @user.id ), :method => :post,
                            :confirm => "Send friend request to #{@user.name}?" %>
            <% end %>
        </ul>
      <ul class="users">
      <h2><li><%= link_to @friends_title, user_friends_path %></li></h2>
        <% for friend in @user.friends %>
            <li>
              <%= gravatar_for friend %>
              <%= link_to friend.name, friend %>
            </li>
        <% end %>
        <br/>
        <h2><li><%= link_to "Albums", user_albums_path(@user.id) %></li></h2>
      </ul>

    </td>
    <td class="main">
      <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <h1 class="micropost">What's up?</h1>
            <%= render 'shared/micropost_form' %>
            <strong>Microposts</strong> <%= @user.microposts.count %><br />
            <%= render 'shared/feed' %>
          </td>
        </tr>
      </table>
  </tr>
</table>
