<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <div class="round">
        <ul class="users">
        <h1>
          <p align="center"><%= gravatar_for @user, :size => 170 %> <br/>  </p>
          <p align="center"><%= link_to @user.name, @user %></p>
        </h1>
          <li><%= friendship_status(current_user, @user) %>
            <% unless Friendship.exists?(current_user, @user) %>
                <br />
                <%= link_to "Request friendship with #{@user.name}", friendships_path(:id => @user.id ), :method => :post,
                            :confirm => "Send friend request to #{@user.name}?" %>
            <% end %>
           </ul>
      </div>
      <ul class="users">
      <h2><li><%= link_to @friends_title, user_friends_path %></li></h2>
        <% for friendship in @user.friendships %>
            <li>
              <%= link_to friendship.friend.name, friendship.friend %>
            </li>
        <% end %>
      </ul>

    </td>
    <td class="main">
      <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <h1 class="micropost">What's up?</h1>
            <%= render 'shared/micropost_form' %>
            <strong>Microposts</strong> <%= @user.microposts.count %><br />
            <%= render 'shared/feed' %>
          </td>
        </tr>
      </table>
  </tr>
</table>
