<table class="profile" summary="Profile information">
  <tr>
    <td class="sidebar round">
      <div>
        <h1>
          <%= gravatar_for @user, :size => 170 %> <br/>
          <br/><%= @user.name %>
        </h1>
        <% if current_user != @user %>
            <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
        <% else %>
            <strong>It's you :)</strong>
        <% end %>

      </div>
      <h2><%= @friends_title %></h2><li><%= link_to "Your Friends", user_friends_path %></li>
      <ul>
        <% for friendship in @user.friendships %>
            <li>
              <%= h friendship.friend.name %>
            </li>
        <% end %>
      </ul>
      <h2>Users Who Have Befriended You</h2>
      <ul>
        <% for user in @user.inverse_friends %>
            <li><%= h user.name %></li>
        <% end %>
      </ul>
    </td>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <h1 class="micropost">What's up?</h1>
            <%= render 'shared/micropost_form' %>
            <%= render 'shared/feed' %>
          </td>
        </tr>
      </table>

    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %><br />
      <% if current_user != @user %>
      <%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
      <% else %>
      <strong>It's you :)</strong>
      <% end %>
    </td>
  </tr>
</table>
